/* Reset default styles */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #8b5e34;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    font-size: 32px;
    color: #ffffff;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  .section h2 {
    font-size: 24px;
  }
  
  .section p {
    font-size: 16px;
  }
  
  .interactive-element {
    background-color: #ffffff;
    color: #60423C;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .interactive-element:hover {
    background-color: #8b5e34;
    color: #ffffff;
  }
  
  .hidden {
    display: none;
  }



  .gettyAd {
    background-image: url('images/gettyad.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    padding: 250px; 
    overflow: hidden;
    
  }
  
  .text-container {
    position: absolute;
    top: 10px;
    left: 500px;
    color: #ffffff;
  }
  
  .title {
    color: rgb(206, 0, 0);
    font-size: 80px;
    font-family: Palatino, serif;
  }
  
  .date {
    color: rgb(0, 0, 0);
    font-size: 30px;
  }

  .textcivi {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    padding: 20px;
    font-size: 26px;
    color: #ffffff;
  }

  