/* Reset default styles */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #c0c0c0;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    font-size: 32px;
    color: #ffffff;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  .section h2 {
    font-size: 24px;
  }
  
  .section p {
    font-size: 16px;
  }
  
  .interactive-element {
    background-color: #a5a5a5;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .interactive-element:hover {
    background-color: #8b5e34;
    color: #ffffff;
  }
  
  .hidden {
    display: none;
  }



  .gettyAd {
    background-image: url('images/Wake_Up_America_parade.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    padding: 250px; 
    overflow: hidden;
    
  }
  
  .text-container {
    position: absolute;
    top: 10px;
    left: 500px;
    left: clamp(200px, 30%, 500px);
    color: #ffffff;
  }
  
  .title {
    color: rgb(255, 0, 0);
    font-size: clamp(40px, 6vw, 140px);
    font-family: Palatino, serif;
  }
  
  .date {
    color: rgb(255, 0, 0);
    font-size: clamp(10px, 2vw, 60px);
    margin-left:30px;
    margin-top: -0px;
  }



  .darkGradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    padding: 20px;
    font-size: 26px;
    color: #ffffff;
  }

  .info {
    background-color: #a0a0a0;
    margin: 0 auto; /* Centers the info box horizontally */
    margin-top: 10px;
    text-align: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    max-width: 1000px; 
    padding: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Dancing Script', cursive;
  }

  .textInsideInfo {
    font-size: 25px;
    font-family: Arial, sans-serif;
    text-align: left;

    color: rgb(0, 0, 0);
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
  }

  .info h3 {
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
 /* Footer section */
  
  footer {
    background-color: #818181;;
    color: #fff;
    padding: 30px;
    align-items: center;
    font-size: 24px;
    }
  
  .section{
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);  
    border-radius: 20px;  

  }

  .image-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
    margin-bottom: 20px;

  }

  .image-container img {
    width: 400px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
    border-radius: 8px 8px 8px 8px;
    transition: transform 0.3s ease;
  }


  .image-container p {
    margin:20px;
    padding: 5px;
    color: black;
    font-size: 30px;
    line-height: 1.5;
        background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    border-radius: 0 8px 8px 0;
  }
  .color{
    background-color: #bb9370;
    margin: 20px;
    
  }
  .imagebox h1{
    color:rgb(26, 26, 26);
    font-size:24px;
    margin-bottom: 10px;
    
  }

  .image-containerW {
    display: flex;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
    margin-bottom: 20px;

  }

  .image-containerW img {
    margin: 20px;
    object-fit: cover;
    border-radius: 8px 8px 8px 8px;
    transition: transform 0.3s ease;
  }


  .image-containerW p {
    margin:20px;
    padding: 5px;
    color: black;
    font-size: 30px;
    line-height: 1.5;
        background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    border-radius: 0 8px 8px 0;
  }
  .parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
