/* Reset default styles */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #adc9e5;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  color: black;
  font-size: 100px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  margin-bottom: 40px;
}

.section h2 {
  font-size: 24px;
}

.section p {
  font-size: 16px;
}

.interactive-element {
  background-color: #967454;
  color: #000000;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.interactive-element:hover {
  background-color: #8b5e34;
  color: #ffffff;
}

.hidden {
  display: none;
}



.gettyAd {
  background-image: url('images/natyuwu.jpeg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  padding: 250px; 
  overflow: hidden;
  
}
.spanImg {
  background-image: url('images/glac.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  padding: 200px; 
  color: white;
  overflow: hidden;
  
}

.text-container {
  position: absolute;
  top: 10px;
  left: 500px;
  left: clamp(200px, 30%, 500px);
  color: #ffffff;
}


.title {
  color: rgb(0, 0, 0);
  font-size: clamp(40px, 8vw, 80px);
  white-space: nowrap;
  font-family: Palatino, serif;
  margin-right:30px;
}

.dawn {
  color: rgb(0, 0, 0);
  font-size: clamp(10px, 2vw, 30px);
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
  font-size: 50px;
}

.authorText {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(135, 128, 177, 0), rgb(131, 133, 150));
  padding: 20px;
  font-size: 26px;
  color: #ffffff;
}

.info {
  background-color: #c4a78d;
  margin: 0 auto; /* Centers the info box horizontally */
  margin-top: 10px;
  text-align: center; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  max-width: 1000px; 
  padding: 10px;
  color: rgb(0, 0, 0);
  font-family: 'Dancing Script', cursive;
}

.textInsideInfo {
  font-size: 28px;
  font-family: Arial, sans-serif;

  color: rgb(0, 0, 0);
  margin: 20px;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.info h3 {
  font-size: 70px;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* Footer section */

footer {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  color: #fff;
  padding: 30px;
  align-items: center;
  font-size: 24px;
  }
.section{
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);  
  border-radius: 20px;  

}



